/* Header */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

header {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 90vw;
}

img.background {
  height: 250px;
  width: 90vw;
  object-fit: cover;
  position: absolute;
}

.text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
  padding-top: 7%;
  font-size: 25px;
  color: white;
  position: relative;
  font-family: "Press Start 2P", cursive;
}
